# üö® V1 - RetailMax Customer Retention Crisis: Data Generation Notebook

Welcome, Data Analyst\! This Jupyter Notebook is your first step in tackling the critical customer retention crisis at RetailMax. As outlined in the problem statement, our company is facing an alarming drop in customer retention, putting ‚Çπ18 crores of revenue at immediate risk.

Our mission is to dissect the reasons behind this decline and propose data-driven solutions. But before we can analyze, we need data\!

### üéØ The Purpose of This Notebook

In a real-world scenario, you would receive raw data from the company's databases. However, for this project, we will **synthetically generate a realistic dataset** that mirrors the scale and complexity of RetailMax's operations. This process is valuable because it forces us to think about the underlying structure of the business, the relationships between different data points, and the factors that might influence customer behavior.

This notebook will walk you through the creation of several interconnected tables that form the foundation of our analysis. Let's get started\!

## ‚öôÔ∏è 1. Initial Setup: Importing Libraries & Seeding

First, we need to import the necessary Python libraries. We'll use:

  * **`Faker`**: To generate realistic fake data like names, emails, and addresses.
  * **`pandas`**: The cornerstone of data manipulation in Python. We'll use it to create and manage our data in DataFrames.
  * **`numpy`**: For numerical operations and making weighted random choices.
  * **`random`**, **`datetime`**: For generating random numbers and handling dates and times.

We also set a "seed" for our random number generators. This is a crucial step to ensure that our "random" data is **reproducible**. Every time we run this code, it will generate the exact same dataset, which is essential for consistent analysis.

In [1]:
from faker import Faker
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta
import os

# Initialize Faker for Indian context
fake = Faker(['en_IN', 'en_US'])
Faker.seed(42)
np.random.seed(42)
random.seed(42)

print("üõí RETAILMAX ANALYTICS - FAKE DATA GENERATION")
print("=" * 55)
print("Business Context: E-commerce Customer Churn & Marketing Crisis")
print("Company: RetailMax Analytics Private Limited")
print("Revenue: ‚Çπ85 crores annually | Customers: 1.2M active users")
print("=" * 55)

üõí RETAILMAX ANALYTICS - FAKE DATA GENERATION
=======================================================
Business Context: E-commerce Customer Churn & Marketing Crisis
Company: RetailMax Analytics Private Limited
Revenue: ‚Çπ85 crores annually | Customers: 1.2M active users
=======================================================

## üèóÔ∏è 2. Building the Foundation: Configuration & Business Rules

Here, we define the parameters of our synthetic world. We set the number of customers, transactions, products, etc. Note that we are using a **scaled-down version** (`NUM_CUSTOMERS = 2000`) of RetailMax's actual 1.2 million customers to ensure the code runs quickly for this exercise.

We also encode key **business rules** into our script:

  * **Geographic Distribution**: We assign a higher probability for customers to be from metro cities (70%) versus Tier-2 cities (30%), reflecting a typical e-commerce business footprint.
  * **Product Category Mix**: We simulate the company's sales mix, with 'Electronics' being the dominant category (60%), followed by 'Fashion' (25%) and 'Home & Living' (15%).

These rules make our dataset feel more authentic and relevant to the business problem.

In [2]:
# Configuration based on RetailMax business context

NUM_CUSTOMERS = 2000  # Scaled down for testing
NUM_TRANSACTIONS = 8000
NUM_CAMPAIGNS = 25
NUM_PRODUCTS = 300
NUM_SESSIONS = 12000

# Helper functions
def random_datetime(start_date, end_date):
    """Generate random datetime between start and end dates"""
    time_between = end_date - start_date
    days_between = time_between.days
    random_days = random.randrange(days_between)
    return start_date + timedelta(days=random_days, 
                                 hours=random.randint(0, 23),
                                 minutes=random.randint(0, 59))

def weighted_choice(choices, weights):
    """Make weighted random choice"""
    return np.random.choice(choices, p=weights)

def indian_phone():
    """Generate Indian phone number"""
    return f"+91-{random.randint(70000, 99999)}-{random.randint(10000, 99999)}"

# Date ranges for RetailMax crisis context
start_date = datetime(2023, 1, 1)
end_date = datetime(2024, 3, 15)

# RetailMax business data
indian_cities = [
    'Mumbai', 'Delhi', 'Bangalore', 'Chennai', 'Hyderabad', 'Pune', 'Ahmedabad', 
    'Kolkata', 'Jaipur', 'Lucknow', 'Kanpur', 'Nagpur', 'Indore', 'Thane', 
    'Bhopal', 'Visakhapatnam', 'Patna', 'Vadodara', 'Ludhiana', 'Coimbatore'
]

# Weighted by RetailMax presence: Metro cities 70%, Tier-2 30%
metro_cities = ['Mumbai', 'Delhi', 'Bangalore', 'Chennai', 'Hyderabad', 'Pune', 'Kolkata']
tier2_cities = [city for city in indian_cities if city not in metro_cities]

city_weights = [0.7] * len(metro_cities) + [0.3] * len(tier2_cities)
city_weights = [w/sum(city_weights) for w in city_weights]

# Product categories as per RetailMax: Electronics 60%, Fashion 25%, Home & Living 15%
product_categories = ['Electronics', 'Fashion', 'Home & Living']
category_weights = [0.60, 0.25, 0.15]

## üìù 3. Generating the Core Data Tables

Now we will generate the primary datasets that form the backbone of our analysis. Each table represents a different facet of the business.

### üë• Table 1: Customers (`customers_df`)

**Purpose**: This is the master table for customer information. It contains demographic data and key attributes for each customer. This table helps us answer the question: **"Who are our customers?"**

**Key Logic**:

  * We generate a unique `customer_id` for each person.
  * Basic demographics like `age` and `gender` are randomized.
  * `loyalty_status` is assigned using a weighted choice, making 'Bronze' the most common and 'Platinum' the rarest, which is a realistic loyalty program structure.
  * The customer's `region` is assigned based on the metro/tier-2 city weights we defined earlier.

<!-- end list -->

In [ ]:
print("üë• Generating Customer Database...")

# 1. CUSTOMERS TABLE
customers = []
loyalty_statuses = ['Bronze', 'Silver', 'Gold', 'Platinum']
loyalty_weights = [0.4, 0.3, 0.2, 0.1]

for i in range(NUM_CUSTOMERS):
    customer_id = f"CUST_{i+1:06d}"
    registration_date = random_datetime(datetime(2020, 1, 1), datetime(2023, 12, 31))
    
    customers.append({
        'customer_id': customer_id,
        'name': fake.name(),
        'age': random.randint(18, 65),
        'gender': random.choice(['Male', 'Female', 'Other']),
        'email': fake.email(),
        'phone': indian_phone(),
        'registration_date': registration_date,  # Changed from join_date
        'loyalty_status': weighted_choice(loyalty_statuses, loyalty_weights),
        'region': weighted_choice(indian_cities, city_weights)
    })

customers_df = pd.DataFrame(customers)
print(f"‚úÖ Generated {len(customers_df)} customer profiles")

üë• Generating Customer Database...
‚úÖ Generated 2000 customer profiles

In [ ]:
# View the first 10 rows of the customers table. 
customers_df.head(10)

# Note: Jupyter Notebooks are designed to display the contents of a variable even without using the print function

,customer_id,name,age,gender,email,phone,registration_date,loyalty_status,region
0,CUST_000001,Anvi Konda,65,Female,harshchahal@example.net,+91-78024-39256,2023-08-02 03:01:00,Bronze,Ludhiana
1,CUST_000002,Brandon Hall,61,Other,onikannan@example.com,+91-99234-81482,2020-10-12 23:06:00,Gold,Jaipur
2,CUST_000003,Abigail Shaffer,20,Male,joshua35@example.org,+91-73070-38657,2020-06-27 18:27:00,Bronze,Delhi
3,CUST_000004,Gunbir Parmer,19,Other,lindsay78@example.org,+91-76515-95181,2021-04-21 16:38:00,Bronze,Patna
4,CUST_000005,Edward Fuller,32,Female,janetwilliams@example.org,+91-89309-46463,2023-12-07 17:26:00,Silver,Nagpur
5,CUST_000006,Dr. Sharon James,45,Female,francisco53@example.net,+91-79105-30379,2020-01-14 05:44:00,Bronze,Coimbatore
6,CUST_000007,Melinda Jones,23,Female,nihalshere@example.com,+91-73169-57052,2021-03-16 10:06:00,Gold,Bangalore
7,CUST_000008,Margaret Hawkins DDS,20,Other,azadmutti@example.com,+91-85054-80284,2021-12-05 19:16:00,Bronze,Bangalore
8,CUST_000009,Thomas Bradley,53,Female,dianafoster@example.net,+91-97177-92397,2020-09-12 12:05:00,Bronze,Ahmedabad
9,CUST_000010,Charles Mcgee,30,Other,zhurst@example.com,+91-72279-16006,2023-06-20 11:36:00,Silver,Chennai

### üì¶ Table 2: Product Catalog (`products_df`)

**Purpose**: This table contains details for every product RetailMax sells. It's essential for understanding sales patterns and identifying which product categories might be contributing to customer churn. It answers the question: **"What do we sell?"**

**Key Logic**:

  * We create a list of popular products within our three main categories.
  * Prices are randomized within realistic ranges for each category (e.g., Electronics are generally more expensive than Fashion items).
  * We simulate an `inventory_status` to mimic real-world stock levels, which could potentially be a reason for customer dissatisfaction.

<!-- end list -->

In [12]:
print("üí≥ Generating Product Catalog...")
# 2. PRODUCT CATALOG
products = []
electronics_products = [
    'iPhone 15', 'Samsung Galaxy S24', 'MacBook Air M3', 'Dell XPS 13', 'iPad Pro',
    'Sony WH-1000XM5', 'AirPods Pro', 'Canon EOS R5', 'Nintendo Switch',
    'PlayStation 5', 'Xbox Series X', 'Apple Watch', 'Fitbit Charge 5',
    'Kindle Paperwhite', 'Echo Dot', 'Mi Smart TV', 'OnePlus Nord',
    'Realme GT Neo', 'Vivo V29', 'Oppo Reno', 'Nothing Phone', 'Google Pixel'
]

fashion_products = [
    'Levi\'s Jeans', 'Nike Air Force', 'Adidas Ultraboost', 'Zara Shirt',
    'H&M Dress', 'Puma Sneakers', 'Ray-Ban Sunglasses', 'Fossil Watch',
    'Michael Kors Bag', 'Coach Wallet', 'Titan Watch', 'Woodland Shoes',
    'Peter England Shirt', 'Allen Solly Trousers', 'Van Heusen Suit',
    'United Colors of Benetton', 'Myntra Kurta', 'Fabindia Saree'
]

home_products = [
    'IKEA Sofa', 'Godrej Almirah', 'LG Refrigerator', 'Samsung Washing Machine',
    'Whirlpool AC', 'Bajaj Mixer', 'Prestige Cooker', 'Pigeon Induction',
    'Cello Water Bottle', 'Milton Tiffin', 'Tupperware Container',
    'Sleepwell Mattress', 'Urban Ladder Table', 'Pepperfry Chair',
    'Philips LED Bulb', 'Havells Fan', 'Orient Electric Heater'
]

all_products = {
    'Electronics': electronics_products,
    'Fashion': fashion_products,
    'Home & Living': home_products
}

product_id_counter = 1
for category, product_list in all_products.items():
    for product_name in product_list:
        # Price ranges based on category
        if category == 'Electronics':
            price = random.randint(5000, 150000)
        elif category == 'Fashion':
            price = random.randint(500, 15000)
        else:  # Home & Living
            price = random.randint(1000, 50000)
        
        products.append({
            'product_id': f"PROD_{product_id_counter:04d}",
            'name': product_name,
            'category': category,
            'price': price,
            'inventory_status': weighted_choice(['In Stock', 'Low Stock', 'Out of Stock'], 
                                              [0.8, 0.15, 0.05])
        })
        product_id_counter += 1

# Add more products to reach target
while len(products) < NUM_PRODUCTS:
    category = weighted_choice(product_categories, category_weights)
    base_products = all_products[category]
    base_name = random.choice(base_products)
    
    # Create variations
    colors = ['Black', 'White', 'Blue', 'Red', 'Silver']
    sizes = ['S', 'M', 'L', 'XL', '32GB', '64GB', '128GB']
    variant = random.choice(colors + sizes)
    
    if category == 'Electronics':
        price = random.randint(5000, 150000)
    elif category == 'Fashion':
        price = random.randint(500, 15000)
    else:
        price = random.randint(1000, 50000)
    
    products.append({
        'product_id': f"PROD_{len(products)+1:04d}",
        'name': f"{base_name} - {variant}",
        'category': category,
        'price': price,
        'inventory_status': weighted_choice(['In Stock', 'Low Stock', 'Out of Stock'], 
                                          [0.8, 0.15, 0.05])
    })

products_df = pd.DataFrame(products)
print(f"‚úÖ Generated {len(products_df)} products")

üí≥ Generating Product Catalog...
‚úÖ Generated 300 products

In [ ]:
# View the first 10 rows of the products table. 
products_df.head(10)

  product_id                name     category   price inventory_status
0  PROD_0001           iPhone 15  Electronics   29434         In Stock
1  PROD_0002  Samsung Galaxy S24  Electronics   85898        Low Stock
2  PROD_0003      MacBook Air M3  Electronics    7222         In Stock
3  PROD_0004         Dell XPS 13  Electronics   98493         In Stock
4  PROD_0005            iPad Pro  Electronics   79030         In Stock
5  PROD_0006     Sony WH-1000XM5  Electronics  109369         In Stock
6  PROD_0007         AirPods Pro  Electronics  136128         In Stock
7  PROD_0008        Canon EOS R5  Electronics   56087         In Stock
8  PROD_0009     Nintendo Switch  Electronics   87437         In Stock
9  PROD_0010       PlayStation 5  Electronics  107404         In Stock

### üí≥ Table 3: Transactions (`transactions_df`)

**Purpose**: This table is the raw log of every single transaction. It links a `customer_id` to a `product_id` at a specific point in time. This is the foundational data for understanding customer spending habits. It answers: **"What, when, and how much are customers buying?"**

**Key Logic**:

  * Each transaction is linked to a random customer and a random product.
  * The `amount_spent` is not just the product price; it's varied by `quantity` and a random fluctuation to simulate taxes or small discounts, making it more realistic.
  * `payment_method` is assigned using weights, with 'UPI' being the most popular, reflecting current trends in India.

<!-- end list -->

In [14]:
print("üí≥ Generating Transaction Records...")

# 3. TRANSACTIONS TABLE

transactions = []
payment_methods = ['Credit Card', 'Debit Card', 'UPI', 'Net Banking', 'COD', 'Wallet']
payment_weights = [0.25, 0.20, 0.30, 0.10, 0.10, 0.05]

for i in range(NUM_TRANSACTIONS):
    customer_id = random.choice(customers_df['customer_id'].tolist())
    product = products_df.sample(1).iloc[0]
    
    # Transaction amount with some variance around product price
    base_amount = product['price']
    # Add quantity factor (1-3 items usually)
    quantity = weighted_choice([1, 2, 3], [0.7, 0.2, 0.1])
    amount_spent = base_amount * quantity
    
    # Add random discount/tax variations
    variation = random.uniform(0.85, 1.15)  # ¬±15% variation
    amount_spent = int(amount_spent * variation)
    
    transactions.append({
        'transaction_id': f"TXN_{i+1:08d}",
        'customer_id': customer_id,
        'product_id': product['product_id'],
        'transaction_date': random_datetime(start_date, end_date),
        'amount_spent': amount_spent,
        'payment_method': weighted_choice(payment_methods, payment_weights),
        'product_category': product['category'],
        'quantity': quantity
    })

transactions_df = pd.DataFrame(transactions)
print(f"‚úÖ Generated {len(transactions_df)} transactions")

üí≥ Generating Transaction Records...
‚úÖ Generated 8000 transactions

In [ ]:
# View the first 10 rows of the transactions table. 
transactions_df.head(10)

,transaction_id,customer_id,product_id,transaction_date,amount_spent,payment_method,product_category,quantity
0,TXN_00000001,CUST_000883,PROD_0044,2023-01-28 14:17:00,23162,Credit Card,Home & Living,2
1,TXN_00000002,CUST_000758,PROD_0104,2023-11-29 12:46:00,6943,Credit Card,Fashion,1
2,TXN_00000003,CUST_001901,PROD_0151,2023-05-31 06:25:00,124447,Credit Card,Electronics,2
3,TXN_00000004,CUST_000362,PROD_0008,2023-09-29 19:31:00,115338,Debit Card,Electronics,2
4,TXN_00000005,CUST_001063,PROD_0008,2023-12-15 01:41:00,54969,Credit Card,Electronics,1
5,TXN_00000006,CUST_000510,PROD_0195,2023-04-23 03:03:00,7183,Wallet,Electronics,1
6,TXN_00000007,CUST_001834,PROD_0080,2023-05-17 07:04:00,12191,UPI,Electronics,2
7,TXN_00000008,CUST_001090,PROD_0022,2023-04-26 19:44:00,228933,UPI,Electronics,2
8,TXN_00000009,CUST_001467,PROD_0001,2023-07-21 03:14:00,28591,Wallet,Electronics,1
9,TXN_00000010,CUST_001504,PROD_0028,2023-12-21 08:31:00,3446,UPI,Fashion,1

### üöö Table 4: Orders (`orders_df_final`)

**Purpose**: This table builds upon the `transactions` data to create a more complete view of an order. It includes post-purchase information like delivery status and customer ratings. This data is vital for analyzing the customer experience after they've paid. It answers: **"What was the overall experience for each order?"**

**Key Logic**:

  * We start with a copy of the transactions table.
  * We add business-critical columns like `order_status` ('Delivered' or 'Cancelled'), customer `rating`, and `delivery_days`.
  * A `Cancelled` order logically results in a `NaN` (blank) rating.
  * We simulate order ratings with a weighted probability, making 4 and 5-star ratings more common.

<!-- end list -->

In [18]:
print("üõí Generating Orders...")

# 4. ORDERS TABLE
orders_df = transactions_df.copy()
orders_df.rename(columns={'transaction_id': 'order_id', 'transaction_date': 'order_date'}, inplace=True)
orders_df['discount_amount'] = (orders_df['amount_spent'] * np.random.uniform(0.05, 0.25, len(orders_df))).round(2)
orders_df['delivery_days'] = np.random.choice([2, 3, 5, 7], len(orders_df), p=[0.4, 0.3, 0.2, 0.1])
orders_df['order_status'] = np.random.choice(['Delivered', 'Cancelled'], len(orders_df), p=[0.9, 0.1])
orders_df['rating'] = np.where(
    orders_df['order_status'] == 'Cancelled',
    np.nan,
    np.random.choice([1, 2, 3, 4, 5], len(orders_df), p=[0.05, 0.1, 0.2, 0.35, 0.3])
)
orders_df['is_repeat_customer'] = orders_df['customer_id'].duplicated().astype(int)
orders_df_final = orders_df[[
    'order_id', 'customer_id', 'order_date', 'product_category', 'amount_spent',
    'quantity', 'discount_amount', 'payment_method', 'delivery_days',
    'order_status', 'rating', 'is_repeat_customer'
]].rename(columns={'amount_spent': 'order_value'})

print(f"‚úÖ Generated {len(orders_df_final)} orders")

üõí Generating Orders...
‚úÖ Generated 8000 orders

In [19]:
# View the first 10 rows of the orders table. 
orders_df_final.head(10)

,order_id,customer_id,order_date,product_category,order_value,quantity,discount_amount,payment_method,delivery_days,order_status,rating,is_repeat_customer
0,TXN_00000001,CUST_000883,2023-01-28 14:17:00,Home & Living,23162,2,5440.89,Credit Card,5,Delivered,2.0,0
1,TXN_00000002,CUST_000758,2023-11-29 12:46:00,Fashion,6943,1,630.69,Credit Card,3,Delivered,4.0,0
2,TXN_00000003,CUST_001901,2023-05-31 06:25:00,Electronics,124447,2,16843.49,Credit Card,3,Delivered,4.0,0
3,TXN_00000004,CUST_000362,2023-09-29 19:31:00,Electronics,115338,2,8654.85,Debit Card,5,Delivered,3.0,0
4,TXN_00000005,CUST_001063,2023-12-15 01:41:00,Electronics,54969,1,9081.37,Credit Card,2,Delivered,4.0,0
5,TXN_00000006,CUST_000510,2023-04-23 03:03:00,Electronics,7183,1,1531.92,Wallet,2,Delivered,3.0,0
6,TXN_00000007,CUST_001834,2023-05-17 07:04:00,Electronics,12191,2,2165.01,UPI,3,Delivered,4.0,0
7,TXN_00000008,CUST_001090,2023-04-26 19:44:00,Electronics,228933,2,19499.16,UPI,5,Delivered,4.0,0
8,TXN_00000009,CUST_001467,2023-07-21 03:14:00,Electronics,28591,1,6495.91,Wallet,3,Delivered,5.0,0
9,TXN_00000010,CUST_001504,2023-12-21 08:31:00,Fashion,3446,1,852.32,UPI,5,Delivered,4.0,0

### ‚ùì Table 5: Churn Labels (`churn_labels_df`)

**Purpose**: This is arguably the **most important table** for our analysis. It contains the target variable: `churn_status`. A value of `1` means the customer has churned (left), and `0` means they are still active. Our entire project revolves around understanding why customers end up with a `1` in this table.

**Key Logic**:

  * We first aggregate transaction data to calculate each customer's `total_spent`, `transaction_count`, and `last_transaction` date.
  * We then define a set of rules to create a **churn probability**. For example, a customer is more likely to churn if:
      * They haven't made a purchase in a long time (`days_inactive`).
      * Their total spending is low.
      * They have made very few transactions.
  * Finally, we **calibrate the churn rate** to match the 45% figure from the problem statement (a 55% retention rate means 45% churn). This ensures our data accurately reflects the business crisis we need to solve.

<!-- end list -->

In [20]:
print("üìä Analyzing Customer Spending for Churn Labels...")

# 5. CHURN LABELS

customer_spending = transactions_df.groupby('customer_id').agg({
    'amount_spent': 'sum',
    'transaction_date': ['count', 'max']
}).round(2)

customer_spending.columns = ['total_spent', 'transaction_count', 'last_transaction']

churn_labels = []
current_date = datetime(2024, 3, 15)

for customer_id in customers_df['customer_id']:
    if customer_id in customer_spending.index:
        last_active = customer_spending.loc[customer_id, 'last_transaction']
        total_spent = customer_spending.loc[customer_id, 'total_spent']
        transaction_count = customer_spending.loc[customer_id, 'transaction_count']
        
        # Days since last activity
        days_inactive = (current_date - last_active).days
        
        # Churn probability based on inactivity, spending, and frequency
        churn_prob = 0.1  # Base probability
        
        if days_inactive > 180:
            churn_prob += 0.6
        elif days_inactive > 90:
            churn_prob += 0.3
        elif days_inactive > 60:
            churn_prob += 0.1
        
        # Lower spending customers more likely to churn
        if total_spent < 15000:
            churn_prob += 0.2
        elif total_spent > 50000:
            churn_prob -= 0.1
        
        # Low frequency customers more likely to churn
        if transaction_count < 3:
            churn_prob += 0.15
        
        churn_prob = min(churn_prob, 0.95)  # Cap at 95%
        churn_status = 1 if random.random() < churn_prob else 0
        
    else:
        last_active = fake.date_between(start_date, end_date)
        churn_status = 1
    
    churn_labels.append({
        'customer_id': customer_id,
        'churn_status': churn_status,
        'last_active_date': last_active
    })

churn_labels_df = pd.DataFrame(churn_labels)

# Adjust to match RetailMax crisis: 55% retention = 45% churn
current_churn_rate = churn_labels_df['churn_status'].mean()
target_churn_rate = 0.45

if current_churn_rate < target_churn_rate:
    non_churned = churn_labels_df[churn_labels_df['churn_status'] == 0].sample(
        int((target_churn_rate - current_churn_rate) * len(churn_labels_df))
    ).index
    churn_labels_df.loc[non_churned, 'churn_status'] = 1
elif current_churn_rate > target_churn_rate:
    churned = churn_labels_df[churn_labels_df['churn_status'] == 1].sample(
        int((current_churn_rate - target_churn_rate) * len(churn_labels_df))
    ).index
    churn_labels_df.loc[churned, 'churn_status'] = 0

print(f"‚úÖ Generated churn labels - Churn rate: {churn_labels_df['churn_status'].mean():.1%}")

üìä Analyzing Customer Spending for Churn Labels...
‚úÖ Generated churn labels - Churn rate: 45.0%

In [21]:
# View the first 10 rows of the orders table. 
churn_labels_df.head(10)

   customer_id  churn_status     last_active_date
0  CUST_000001             0  2024-02-04 11:46:00
1  CUST_000002             0  2023-10-07 13:19:00
2  CUST_000003             0  2024-02-04 23:43:00
3  CUST_000004             1  2023-10-11 03:43:00
4  CUST_000005             0  2023-02-24 15:18:00
5  CUST_000006             0  2024-01-31 16:12:00
6  CUST_000007             1  2023-11-19 05:03:00
7  CUST_000008             0  2024-01-22 23:08:00
8  CUST_000009             0  2024-02-08 06:05:00
9  CUST_000010             1  2023-10-14 17:56:00

### üì¢ Table 6: Marketing Campaigns (`campaigns_df`)

**Purpose**: This table lists all the marketing campaigns run by RetailMax. Analyzing this data can help us determine if our marketing efforts (or lack thereof) are impacting customer retention. It helps answer: **"How are we trying to engage our customers?"**

**Key Logic**:

  * We create campaigns with different types (`Acquisition`, `Retention`, etc.) and `target_segment`s.
  * Each campaign has a `budget`, a `start_date`, an `end_date`, and a `channel` (e.g., 'Email', 'Social Media').
  * This data will allow us to correlate marketing activities with customer behavior over time.

<!-- end list -->

In [22]:
print("üì¢ Generating Marketing Campaigns...")

# 6. CAMPAIGNS TABLE
campaigns = []
campaign_types = ['Acquisition', 'Retention', 'Win-back', 'Seasonal', 'Product Launch']
target_segments = ['High Value', 'Medium Value', 'Low Value', 'New Customers', 'At-Risk', 'All Customers']

campaign_names = [
    'Summer Sale Bonanza', 'Diwali Mega Sale', 'New Year Special', 'Electronics Fest',
    'Fashion Week Sale', 'Home Decor Carnival', 'Back to School', 'Monsoon Sale',
    'Independence Day Sale', 'Valentine Special', 'Mother\'s Day Sale', 'Father\'s Day Sale',
    'Holi Colors Sale', 'Christmas Special', 'Republic Day Sale', 'Women\'s Day Sale',
    'Mobile Madness', 'Laptop Sale', 'Fashion Flash Sale', 'Home Appliance Sale',
    'Student Discount', 'Senior Citizen Sale', 'First Time Buyer', 'Loyalty Rewards',
    'Weekend Special'
]

for i in range(NUM_CAMPAIGNS):
    start_date_camp = random_datetime(start_date, end_date)
    duration = random.randint(3, 30)
    end_date_camp = start_date_camp + timedelta(days=duration)
    
    budget = random.randint(50000, 2000000)
    
    campaigns.append({
        'campaign_id': f"CAMP_{i+1:03d}",
        'campaign_name': random.choice(campaign_names) + f" {random.randint(2023, 2024)}",
        'campaign_type': random.choice(campaign_types),
        'start_date': start_date_camp,
        'end_date': end_date_camp,
        'budget': budget,
        'target_segment': random.choice(target_segments),
        'channel': weighted_choice(['Email', 'Social Media', 'Search Ads', 'Influencer'], 
                                  [0.4, 0.3, 0.2, 0.1])
    })

campaigns_df = pd.DataFrame(campaigns)
print(f"‚úÖ Generated {len(campaigns_df)} marketing campaigns")

üì¢ Generating Marketing Campaigns...
‚úÖ Generated 25 marketing campaigns

In [23]:
# View the first 10 rows of the campaigns table. 
campaigns_df.head(10)

,campaign_id,campaign_name,campaign_type,start_date,end_date,budget,target_segment,channel
0,CAMP_001,Weekend Special 2024,Retention,2023-01-18 03:42:00,2023-02-03 03:42:00,1102692,Low Value,Email
1,CAMP_002,First Time Buyer 2024,Win-back,2024-03-04 07:04:00,2024-03-28 07:04:00,1745863,High Value,Influencer
2,CAMP_003,Women's Day Sale 2023,Acquisition,2023-05-11 00:50:00,2023-06-01 00:50:00,499349,All Customers,Search Ads
3,CAMP_004,Laptop Sale 2024,Win-back,2023-03-01 16:20:00,2023-03-23 16:20:00,884306,All Customers,Email
4,CAMP_005,Fashion Flash Sale 2023,Win-back,2023-01-10 23:39:00,2023-01-24 23:39:00,404737,All Customers,Email
5,CAMP_006,Father's Day Sale 2024,Product Launch,2024-02-08 21:22:00,2024-02-12 21:22:00,1306116,Medium Value,Email
6,CAMP_007,Loyalty Rewards 2023,Seasonal,2023-09-15 02:33:00,2023-09-26 02:33:00,987243,New Customers,Social Media
7,CAMP_008,Home Appliance Sale 2023,Win-back,2023-09-16 01:25:00,2023-09-25 01:25:00,1604011,High Value,Email
8,CAMP_009,Father's Day Sale 2024,Acquisition,2023-08-07 20:06:00,2023-08-12 20:06:00,1301637,All Customers,Email
9,CAMP_010,Holi Colors Sale 2023,Seasonal,2024-01-05 23:59:00,2024-01-28 23:59:00,1788969,At-Risk,Social Media

### üìà Table 7: Campaign Performance (`campaign_performance_df`)

**Purpose**: This table measures the effectiveness of the marketing campaigns listed in the previous table. While the `campaigns` table tells us what we *planned* to do, this one tells us what actually *happened*. It's crucial for calculating Return on Investment (ROI) and answering the business question: **"Is our marketing budget being spent effectively?"**

**Key Logic**:

  * We simulate key marketing metrics like `impressions`, `clicks`, and `conversions`.
  * The logic realistically models that different marketing `channel`s have different performance characteristics. For example, 'Email' typically has a higher Click-Through Rate (`ctr`) than 'Social Media'.
  * The final `roi` (Return on Investment) is calculated as `revenue / budget`, which is the ultimate measure of a campaign's financial success.

<!-- end list -->

In [24]:
print("üìà Generating Campaign Performance...")

# 7. CAMPAIGN PERFORMANCE
campaign_performance = []

for _, campaign in campaigns_df.iterrows():
    budget = campaign['budget']
    
    if campaign['channel'] == 'Social Media':
        impressions = int(budget * random.uniform(8, 15))
    elif campaign['channel'] == 'Search Ads':
        impressions = int(budget * random.uniform(5, 10))
    elif campaign['channel'] == 'Email':
        impressions = int(budget * random.uniform(20, 50))
    else:
        impressions = int(budget * random.uniform(2, 8))
    
    if campaign['channel'] == 'Email':
        ctr = random.uniform(0.02, 0.08)
    elif campaign['channel'] == 'Social Media':
        ctr = random.uniform(0.01, 0.04)
    elif campaign['channel'] == 'Search Ads':
        ctr = random.uniform(0.03, 0.12)
    else:
        ctr = random.uniform(0.005, 0.025)
    
    clicks = int(impressions * ctr)
    
    conversion_rate = random.uniform(0.01, 0.08)
    conversions = int(clicks * conversion_rate)
    
    avg_order_value = random.randint(2000, 15000)
    revenue = conversions * avg_order_value
    
    roi = revenue / budget if budget > 0 else 0
    
    if random.random() < 0.4:
        roi *= random.uniform(0.5, 0.8)
        revenue = int(budget * roi)
        conversions = int(revenue / avg_order_value)
    
    campaign_performance.append({
        'campaign_id': campaign['campaign_id'],
        'impressions': impressions,
        'clicks': clicks,
        'conversions': conversions,
        'revenue': int(revenue),
        'roi': round(roi, 2),
        'ctr': round(ctr * 100, 2),
        'conversion_rate': round(conversion_rate * 100, 2)
    })

campaign_performance_df = pd.DataFrame(campaign_performance)
avg_roi = campaign_performance_df['roi'].mean()
print(f"‚úÖ Generated campaign performance - Average ROI: {avg_roi:.2f}x")

üìà Generating Campaign Performance...
‚úÖ Generated campaign performance - Average ROI: 315.19x

In [25]:
# View the first 10 rows of the campaign performance table. 
campaign_performance_df.head(10)

,campaign_id,impressions,clicks,conversions,revenue,roi,ctr,conversion_rate
0,CAMP_001,48018115,1166194,31469,106775353,96.83,2.43,5.08
1,CAMP_002,10402251,184461,2510,13556881,7.77,1.77,2.68
2,CAMP_003,3316109,210791,7742,21105427,42.27,6.36,6.35
3,CAMP_004,43534719,1599255,74795,1100758015,1244.77,3.67,4.68
4,CAMP_005,16733438,1215038,26654,114185736,282.12,7.26,2.19
5,CAMP_006,31063436,1046490,22927,58372142,44.69,3.37,2.19
6,CAMP_007,13325277,342615,11142,150773544,152.72,2.57,3.25
7,CAMP_008,54913884,4199142,264472,3646539936,2273.39,7.65,6.30
8,CAMP_009,34123698,2383812,27196,268268143,206.10,6.99,1.73
9,CAMP_010,18735528,680835,52502,281410720,157.30,3.63,7.71

### ‚≠ê Table 8: Customer Feedback (`feedback_df`)

**Purpose**: This table captures qualitative data directly from customers. It provides context that numbers alone cannot, such as opinions on product quality, delivery speed, and service. This is our source for sentiment analysis and helps answer: **"What are our customers saying about their experience?"**

**Key Logic**:

  * Feedback is generated for a random 30% of transactions, simulating that not every customer leaves a review.
  * Each piece of feedback is linked to a `customer_id` and a `transaction_id`, allowing us to connect opinions to specific purchases.
  * We include a star `rating` and a `feedback_text` snippet.

<!-- end list -->

In [26]:
print("‚≠ê Generating Customer Feedback...")

# 8. CUSTOMER FEEDBACK
feedback = []
feedback_texts = [
    "Great product quality and fast delivery!",
    "Excellent customer service experience",
    "Product was damaged during shipping",
    "Very satisfied with the purchase",
    "Could improve packaging quality",
    "Amazing deals and discounts available",
    "Website is easy to navigate",
    "Delivery was delayed by 2 days",
    "Product exactly as described",
    "Outstanding shopping experience",
    "Payment process was smooth",
    "Customer support was very helpful",
    "Product quality could be better",
    "Fast and reliable delivery service",
    "Great variety of products available"
]

feedback_transactions = random.sample(transactions_df['transaction_id'].tolist(), 
                                    int(len(transactions_df) * 0.3))

for i, txn_id in enumerate(feedback_transactions):
    transaction = transactions_df[transactions_df['transaction_id'] == txn_id].iloc[0]
    
    rating = weighted_choice([1, 2, 3, 4, 5], [0.05, 0.1, 0.2, 0.35, 0.3])
    
    feedback.append({
        'feedback_id': f"FB_{i+1:06d}",
        'customer_id': transaction['customer_id'],
        'transaction_id': txn_id,
        'rating': rating,
        'feedback_text': random.choice(feedback_texts),
        'date': transaction['transaction_date'] + timedelta(days=random.randint(1, 7))
    })

feedback_df = pd.DataFrame(feedback)
print(f"‚úÖ Generated {len(feedback_df)} customer feedback entries")

‚≠ê Generating Customer Feedback...
‚úÖ Generated 2400 customer feedback entries

In [27]:
# View the first 10 rows of the customer feedback table. 
feedback_df.head(10)

,feedback_id,customer_id,transaction_id,rating,feedback_text,date
0,FB_000001,CUST_001960,TXN_00006610,5,Payment process was smooth,2023-02-09 05:05:00
1,FB_000002,CUST_000897,TXN_00007760,4,Great product quality and fast delivery!,2023-09-11 03:38:00
2,FB_000003,CUST_000890,TXN_00001924,4,Amazing deals and discounts available,2023-01-25 17:03:00
3,FB_000004,CUST_000757,TXN_00001773,2,Could improve packaging quality,2023-12-01 15:33:00
4,FB_000005,CUST_001236,TXN_00006091,3,Great variety of products available,2023-10-12 16:27:00
5,FB_000006,CUST_001955,TXN_00000273,5,Payment process was smooth,2023-06-10 07:56:00
6,FB_000007,CUST_000591,TXN_00003656,4,Could improve packaging quality,2023-06-24 07:16:00
7,FB_000008,CUST_000740,TXN_00006323,5,Excellent customer service experience,2023-08-10 02:13:00
8,FB_000009,CUST_001673,TXN_00000133,3,Great product quality and fast delivery!,2024-01-25 21:58:00
9,FB_000010,CUST_001036,TXN_00003124,3,Product exactly as described,2023-10-30 13:54:00

### üì± Table 9: User Sessions (`sessions_df`)

**Purpose**: This table records every time a user visits the RetailMax website or app. It provides insight into user engagement beyond just making purchases. It helps us understand browsing habits and answers the question: **"How often and for how long do customers interact with our platform?"**

**Key Logic**:

  * A `session` is linked to a `customer_id`.
  * We simulate the `device_type` used, with 'Mobile' being the most common (60%), reflecting modern user behavior.
  * The `session_duration_minutes` is varied by device, realistically assuming desktop sessions are often longer than mobile sessions.

<!-- end list -->

In [28]:
print("üì± Generating User Sessions...")

# 9. SESSIONS
sessions = []
device_types = ['Desktop', 'Mobile', 'Tablet']
device_weights = [0.3, 0.6, 0.1]

for i in range(NUM_SESSIONS):
    customer_id = random.choice(customers_df['customer_id'].tolist())
    session_start = random_datetime(start_date, end_date)
    
    device = weighted_choice(device_types, device_weights)
    if device == 'Mobile':
        duration_minutes = random.randint(2, 45)
    elif device == 'Tablet':
        duration_minutes = random.randint(5, 60)
    else:
        duration_minutes = random.randint(8, 120)
    
    session_end = session_start + timedelta(minutes=duration_minutes)
    pages_visited = max(1, int(duration_minutes / random.randint(2, 8)))
    
    sessions.append({
        'session_id': f"SESS_{i+1:08d}",
        'customer_id': customer_id,
        'device_type': device,
        'session_start': session_start,
        'session_end': session_end,
        'pages_visited': pages_visited,
        'session_duration_minutes': duration_minutes
    })

sessions_df = pd.DataFrame(sessions)
print(f"‚úÖ Generated {len(sessions_df)} user sessions")

üì± Generating User Sessions...
‚úÖ Generated 12000 user sessions

In [29]:
# View the first 10 rows of the sessions table. 
sessions_df.head(10)

,session_id,customer_id,device_type,session_start,session_end,pages_visited,session_duration_minutes
0,SESS_00000001,CUST_001071,Tablet,2023-09-05 00:38:00,2023-09-05 01:29:00,7,51
1,SESS_00000002,CUST_000353,Desktop,2023-10-26 10:06:00,2023-10-26 11:07:00,8,61
2,SESS_00000003,CUST_000346,Tablet,2023-10-14 22:37:00,2023-10-14 22:44:00,1,7
3,SESS_00000004,CUST_000640,Mobile,2023-06-28 08:33:00,2023-06-28 08:44:00,2,11
4,SESS_00000005,CUST_000287,Mobile,2023-08-13 15:57:00,2023-08-13 16:12:00,5,15
5,SESS_00000006,CUST_000210,Desktop,2023-04-06 10:33:00,2023-04-06 10:53:00,6,20
6,SESS_00000007,CUST_001373,Tablet,2024-01-29 17:58:00,2024-01-29 18:32:00,6,34
7,SESS_00000008,CUST_000825,Desktop,2023-04-25 08:00:00,2023-04-25 08:40:00,5,40
8,SESS_00000009,CUST_000214,Mobile,2023-11-15 14:55:00,2023-11-15 15:13:00,4,18
9,SESS_00000010,CUST_001885,Desktop,2023-08-28 13:21:00,2023-08-28 15:00:00,33,99

### üåê Table 10: Customer Behavior (`behavior_df`)

**Purpose**: This is a more detailed version of the `sessions` table. It breaks down what a customer *does* during a session, such as adding items to their cart, using the search function, or abandoning their cart. This data is critical for analyzing the user journey and identifying potential friction points. It answers: **"What specific actions are customers taking on our site?"**

**Key Logic**:

  * This table is an enriched copy of the `sessions` data.
  * We simulate key behavioral flags like `cart_additions`, `cart_abandonment`, and `support_chat_initiated`.
  * A high `cart_abandonment` rate, for example, could be a significant driver of churn.

<!-- end list -->

In [30]:
print("üåê Generating Customer Behavior...")

# 10. CUSTOMER BEHAVIOR
behavior_df = sessions_df.copy()
behavior_df.rename(columns={'session_start': 'session_date'}, inplace=True)
behavior_df['page_type'] = np.random.choice(['Home', 'Product_Page', 'Search', 'Cart'], len(behavior_df), p=[0.3, 0.4, 0.2, 0.1])
behavior_df['bounce_rate'] = np.random.uniform(0.1, 0.9, len(behavior_df)).round(2)
behavior_df['time_on_page_seconds'] = (behavior_df['session_duration_minutes'] * np.random.uniform(20, 90)).round(2)
behavior_df['cart_additions'] = np.random.poisson(1, len(behavior_df))
behavior_df['cart_abandonment'] = np.random.choice([0, 1], len(behavior_df), p=[0.7, 0.3])
behavior_df['search_queries'] = np.random.poisson(2, len(behavior_df))
behavior_df['support_chat_initiated'] = np.random.choice([0, 1], len(behavior_df), p=[0.85, 0.15])
behavior_df['email_clicks'] = np.random.poisson(1, len(behavior_df))
behavior_df['app_rating_given'] = np.random.choice([0, 1], len(behavior_df), p=[0.9, 0.1])
behavior_df = behavior_df[[
    'session_id', 'customer_id', 'session_date', 'session_duration_minutes',
    'pages_visited', 'page_type', 'device_type', 'bounce_rate',
    'time_on_page_seconds', 'cart_additions', 'cart_abandonment',
    'search_queries', 'support_chat_initiated', 'email_clicks', 'app_rating_given'
]].rename(columns={'pages_visited': 'pages_viewed'})

print(f"‚úÖ Generated {len(behavior_df)} customer behavior records")

üåê Generating Customer Behavior...
‚úÖ Generated 12000 customer behavior records

In [31]:
# View the first 10 rows of the customer behavior table. 
behavior_df.head(10)

,session_id,customer_id,session_date,session_duration_minutes,pages_viewed,page_type,device_type,bounce_rate,time_on_page_seconds,cart_additions,cart_abandonment,search_queries,support_chat_initiated,email_clicks,app_rating_given
0,SESS_00000001,CUST_001071,2023-09-05 00:38:00,51,7,Search,Tablet,0.55,4293.11,2,0,0,0,0,0
1,SESS_00000002,CUST_000353,2023-10-26 10:06:00,61,8,Product_Page,Desktop,0.63,5134.89,1,0,3,0,1,1
2,SESS_00000003,CUST_000346,2023-10-14 22:37:00,7,1,Search,Tablet,0.70,589.25,0,0,2,0,1,0
3,SESS_00000004,CUST_000640,2023-06-28 08:33:00,11,2,Product_Page,Mobile,0.16,925.96,1,0,0,0,0,0
4,SESS_00000005,CUST_000287,2023-08-13 15:57:00,15,5,Product_Page,Mobile,0.27,1262.68,0,0,1,1,3,0
5,SESS_00000006,CUST_000210,2023-04-06 10:33:00,20,6,Product_Page,Desktop,0.20,1683.57,2,0,4,1,0,0
6,SESS_00000007,CUST_001373,2024-01-29 17:58:00,34,6,Product_Page,Tablet,0.12,2862.07,0,0,3,0,0,0
7,SESS_00000008,CUST_000825,2023-04-25 08:00:00,40,5,Search,Desktop,0.60,3367.14,3,0,2,0,1,0
8,SESS_00000009,CUST_000214,2023-11-15 14:55:00,18,4,Cart,Mobile,0.13,1515.21,0,0,4,0,1,0
9,SESS_00000010,CUST_001885,2023-08-28 13:21:00,99,33,Home,Desktop,0.81,8333.68,3,0,1,0,0,0

### üí∞ Table 11: Billing Events (`billing_events_df`)

**Purpose**: This table tracks financial events like invoice creation and payment status. Billing issues are a common and severe source of customer frustration. Analyzing this data can reveal if payment problems are a factor in churn. It answers: **"Are customers facing issues with billing and payments?"**

**Key Logic**:

  * Billing events are generated based on a customer's transaction history.
  * We simulate a `payment_status` of 'Paid', 'Pending', or 'Overdue'. A high number of 'Overdue' events could indicate a problem.

<!-- end list -->

In [32]:
print("üí∞ Generating Billing Events...")

# 11. BILLING EVENTS
billing_events = []

customer_transactions = transactions_df.groupby('customer_id').agg({
    'amount_spent': 'sum',
    'transaction_date': 'max'
}).reset_index()

for _, customer_tx in customer_transactions.iterrows():
    customer_id = customer_tx['customer_id']
    total_spent = customer_tx['amount_spent']
    last_tx_date = customer_tx['transaction_date']
    
    num_invoices = random.randint(1, 3)
    
    for i in range(num_invoices):
        invoice_date = last_tx_date + timedelta(days=random.randint(0, 7))
        
        if num_invoices == 1:
            total_due = total_spent
        else:
            if i == num_invoices - 1:
                remaining_customers = len([b for b in billing_events if b['customer_id'] == customer_id])
                paid_amount = sum([b['total_due'] for b in billing_events if b['customer_id'] == customer_id])
                total_due = max(100, total_spent - paid_amount)
            else:
                total_due = int(total_spent / num_invoices) + random.randint(-500, 500)
        
        payment_status = weighted_choice(['Paid', 'Pending', 'Overdue'], [0.85, 0.1, 0.05])
        
        billing_events.append({
            'event_id': f"BILL_{len(billing_events)+1:06d}",
            'customer_id': customer_id,
            'invoice_date': invoice_date,
            'total_due': max(100, int(total_due)),
            'payment_status': payment_status,
            'due_date': invoice_date + timedelta(days=30)
        })

billing_events_df = pd.DataFrame(billing_events)
print(f"‚úÖ Generated {len(billing_events_df)} billing events")

üí∞ Generating Billing Events...
‚úÖ Generated 3875 billing events

In [33]:
# View the first 10 rows of the billing events table. 
billing_events_df.head(10)

,event_id,customer_id,invoice_date,total_due,payment_status,due_date
0,BILL_000001,CUST_000001,2024-02-05 11:46:00,56619,Paid,2024-03-06 11:46:00
1,BILL_000002,CUST_000001,2024-02-09 11:46:00,56621,Paid,2024-03-10 11:46:00
2,BILL_000003,CUST_000001,2024-02-08 11:46:00,55889,Paid,2024-03-09 11:46:00
3,BILL_000004,CUST_000002,2023-10-08 13:19:00,57808,Pending,2023-11-07 13:19:00
4,BILL_000005,CUST_000003,2024-02-11 23:43:00,272994,Paid,2024-03-12 23:43:00
5,BILL_000006,CUST_000003,2024-02-09 23:43:00,273395,Pending,2024-03-10 23:43:00
6,BILL_000007,CUST_000004,2023-10-14 03:43:00,169282,Paid,2023-11-13 03:43:00
7,BILL_000008,CUST_000005,2023-02-28 15:18:00,3863,Paid,2023-03-30 15:18:00
8,BILL_000009,CUST_000005,2023-02-26 15:18:00,4344,Paid,2023-03-28 15:18:00
9,BILL_000010,CUST_000006,2024-02-03 16:12:00,259525,Paid,2024-03-04 16:12:00

### üé´ Table 12: Support Tickets (`support_tickets_df`)

**Purpose**: This table contains records of all customer support interactions. It is a direct log of customer problems and is one of the most valuable datasets for diagnosing the root causes of churn. It helps answer: **"What specific problems are our customers reporting to us?"**

**Key Logic**:

  * We simulate that only a fraction of customers (15%) create support tickets.
  * A variety of `issue_types` are generated, from 'Delivery Delay' to 'Payment Issue'.
  * The `resolution_time_hours` is simulated to be longer for more complex issues, a key metric for measuring support team efficiency.

<!-- end list -->

In [34]:
print("üé´ Generating Support Tickets...")

# 12. SUPPORT TICKETS
support_tickets = []
issue_types = [
    'Delivery Delay', 'Product Defect', 'Payment Issue', 'Return Request',
    'Account Problem', 'Website Error', 'Order Cancellation', 'Refund Request',
    'Product Information', 'Technical Support', 'Billing Inquiry', 'General Inquiry'
]

ticket_statuses = ['Open', 'In Progress', 'Resolved', 'Closed']
status_weights = [0.1, 0.15, 0.6, 0.15]

ticket_customers = random.sample(customers_df['customer_id'].tolist(), 
                                int(len(customers_df) * 0.15))

for customer_id in ticket_customers:
    num_tickets = weighted_choice([1, 2, 3], [0.7, 0.25, 0.05])
    
    for i in range(num_tickets):
        created_date = random_datetime(start_date, end_date)
        issue_type = random.choice(issue_types)
        status = weighted_choice(ticket_statuses, status_weights)
        
        if status in ['Resolved', 'Closed']:
            if issue_type in ['Delivery Delay', 'Product Information', 'General Inquiry']:
                resolution_hours = random.randint(2, 24)
            elif issue_type in ['Payment Issue', 'Account Problem', 'Billing Inquiry']:
                resolution_hours = random.randint(4, 72)
            else:
                resolution_hours = random.randint(24, 168)
        else:
            resolution_hours = None
        
        support_tickets.append({
            'ticket_id': f"TKT_{len(support_tickets)+1:06d}",
            'customer_id': customer_id,
            'issue_type': issue_type,
            'created_date': created_date,
            'resolution_time_hours': resolution_hours,
            'status': status,
            'priority': weighted_choice(['Low', 'Medium', 'High'], [0.5, 0.4, 0.1])
        })

support_tickets_df = pd.DataFrame(support_tickets)
print(f"‚úÖ Generated {len(support_tickets_df)} support tickets")

üé´ Generating Support Tickets...
‚úÖ Generated 399 support tickets

In [36]:
# View the first 10 rows of the support tickets table. 
support_tickets_df.head(10)

,ticket_id,customer_id,issue_type,created_date,resolution_time_hours,status,priority
0,TKT_000001,CUST_000475,Delivery Delay,2023-02-01 12:59:00,12.0,Resolved,Low
1,TKT_000002,CUST_000475,Return Request,2023-08-18 19:38:00,93.0,Resolved,Low
2,TKT_000003,CUST_000337,General Inquiry,2024-02-23 22:07:00,7.0,Resolved,Low
3,TKT_000004,CUST_001182,Account Problem,2023-02-02 22:52:00,NaN,In Progress,Low
4,TKT_000005,CUST_001182,Website Error,2023-09-15 23:34:00,NaN,Open,Low
5,TKT_000006,CUST_000730,Refund Request,2023-02-14 08:21:00,107.0,Resolved,Low
6,TKT_000007,CUST_000805,Order Cancellation,2023-07-25 01:22:00,32.0,Closed,Low
7,TKT_000008,CUST_001517,Refund Request,2023-09-03 07:29:00,45.0,Resolved,Medium
8,TKT_000009,CUST_001017,Product Information,2024-01-26 03:32:00,NaN,Open,Medium
9,TKT_000010,CUST_000676,Payment Issue,2023-04-03 20:16:00,7.0,Resolved,Medium

## üíæ 4. Saving the Datasets

With all our dataframes generated, the final step in this notebook is to save them as `.csv` files. This is a crucial step that makes our data **persistent**. It means we can now start a new notebook for our analysis and simply load these files, without needing to run this entire generation script again.

In [37]:
# Create output directory
output_dir = 'dataset'
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

print(f"\nüíæ Saving all datasets to '{output_dir}' directory...")

# Save all dataframes to CSV
datasets = {
    'customers': customers_df,
    'transactions': transactions_df,
    'churn_labels': churn_labels_df,
    'campaigns': campaigns_df,
    'campaign_performance': campaign_performance_df,
    'product_catalog': products_df,
    'customer_feedback': feedback_df,
    'sessions': sessions_df,
    'orders': orders_df_final,
    'customer_behavior': behavior_df,
    'billing_events': billing_events_df,
    'support_tickets': support_tickets_df
}

for name, df in datasets.items():
    filepath = os.path.join(output_dir, f'{name}.csv')
    df.to_csv(filepath, index=False)
    print(f"‚úÖ Saved {name}.csv ({len(df):,} records)")

üíæ Saving all datasets to 'dataset' directory...
‚úÖ Saved customers.csv (2,000 records)
‚úÖ Saved transactions.csv (8,000 records)
‚úÖ Saved churn_labels.csv (2,000 records)
‚úÖ Saved campaigns.csv (25 records)
‚úÖ Saved campaign_performance.csv (25 records)
‚úÖ Saved product_catalog.csv (300 records)
‚úÖ Saved customer_feedback.csv (2,400 records)
‚úÖ Saved sessions.csv (12,000 records)
‚úÖ Saved orders.csv (8,000 records)
‚úÖ Saved customer_behavior.csv (12,000 records)
‚úÖ Saved billing_events.csv (3,875 records)
‚úÖ Saved support_tickets.csv (399 records)

## ‚úÖ 5. Final Verification & Business Context Summary

This final block of code serves as a **quality assurance check**. It verifies two important things:

1.  **Relational Consistency**: It checks that the IDs used to link tables together are valid. For example, it ensures that every `customer_id` in the `transactions` table also exists in the main `customers` table. This prevents data integrity errors in our analysis.
2.  **Business Crisis Metrics**: It prints out key metrics from our new dataset, like the churn rate. This allows us to confirm that the synthetic data successfully simulates the crisis outlined in the problem statement (e.g., a churn rate of \~45%).

Now that our data is generated, saved, and verified, we are ready to move on to the analysis phase\!

In [38]:
print("\nüìä RETAILMAX ANALYTICS DATASET SUMMARY:")
print("=" * 55)
total_records = sum(len(df) for df in datasets.values())
print(f"Total Records Generated: {total_records:,}")
print(f"Total Files Created: {len(datasets)}")
print(f"Date Range: {start_date.strftime('%Y-%m-%d')} to {end_date.strftime('%Y-%m-%d')}")

print("\nüîó RELATIONAL CONSISTENCY VERIFICATION:")
print("=" * 55)
print(f"‚úÖ All customer_ids in transactions exist in customers: {set(transactions_df['customer_id']).issubset(set(customers_df['customer_id']))}")
print(f"‚úÖ All customer_ids in churn_labels match customers: {set(churn_labels_df['customer_id']) == set(customers_df['customer_id'])}")
print(f"‚úÖ All product_ids in transactions exist in catalog: {set(transactions_df['product_id']).issubset(set(products_df['product_id']))}")
print(f"‚úÖ All campaign_ids in performance match campaigns: {set(campaign_performance_df['campaign_id']) == set(campaigns_df['campaign_id'])}")
print(f"‚úÖ All customer_ids in orders exist in customers: {set(orders_df_final['customer_id']).issubset(set(customers_df['customer_id']))}")
print(f"‚úÖ All customer_ids in customer_behavior exist in customers: {set(behavior_df['customer_id']).issubset(set(customers_df['customer_id']))}")

print("\nüéØ BUSINESS CRISIS METRICS:")
print("=" * 55)
churn_rate = churn_labels_df['churn_status'].mean()
avg_roi = campaign_performance_df['roi'].mean()
total_revenue = transactions_df['amount_spent'].sum()

print(f"üìâ Customer Churn Rate: {churn_rate:.1%} (Target Crisis: 45%)")
print(f"üìà Average Marketing ROI: {avg_roi:.2f}x (Crisis: need 3.8x)")
print(f"üí∞ Total Revenue Generated: ‚Çπ{total_revenue/10000000:.1f} Crores")
print(f"üõí Average Order Value: ‚Çπ{transactions_df['amount_spent'].mean():,.0f}")
print(f"üë• Customer Segments:")

customer_spending_total = transactions_df.groupby('customer_id')['amount_spent'].sum()
high_value = (customer_spending_total > 50000).sum()
medium_value = ((customer_spending_total >= 15000) & (customer_spending_total <= 50000)).sum()
low_value = (customer_spending_total < 15000).sum()

print(f"   - High Value (>‚Çπ50K): {high_value} customers ({high_value/len(customers_df)*100:.1f}%)")
print(f"   - Medium Value (‚Çπ15K-50K): {medium_value} customers ({medium_value/len(customers_df)*100:.1f}%)")
print(f"   - Low Value (<‚Çπ15K): {low_value} customers ({low_value/len(customers_df)*100:.1f}%)")

print("\nüöÄ DATA GENERATION COMPLETE!")
print("=" * 55)
print("Ready for RetailMax V1-V2-V3 Crisis Analysis:")
print("V1: Emergency churn analysis with customer segmentation")
print("V2: Marketing ROI optimization and campaign intelligence") 
print("V3: Production web application deployment")
print("\nDatasets reflect RetailMax business crisis context:")
print("- Customer retention dropped from 72% to 55%")
print("- Marketing ROI underperforming vs 3.8x industry benchmark")
print("- E-commerce focus: Electronics, Fashion, Home & Living")
print("- Indian market: Metro + Tier-2 cities")

üìä RETAILMAX ANALYTICS DATASET SUMMARY:
=======================================================
Total Records Generated: 51,024
Total Files Created: 12
Date Range: 2023-01-01 to 2024-03-15

üîó RELATIONAL CONSISTENCY VERIFICATION:
=======================================================
‚úÖ All customer_ids in transactions exist in customers: True
‚úÖ All customer_ids in churn_labels match customers: True
‚úÖ All product_ids in transactions exist in catalog: True
‚úÖ All campaign_ids in performance match campaigns: True
‚úÖ All customer_ids in orders exist in customers: True
‚úÖ All customer_ids in customer_behavior exist in customers: True

üéØ BUSINESS CRISIS METRICS:
=======================================================
üìâ Customer Churn Rate: 45.0% (Target Crisis: 45%)
üìà Average Marketing ROI: 315.19x (Crisis: need 3.8x)
üí∞ Total Revenue Generated: ‚Çπ58.8 Crores
üõí Average Order Value: ‚Çπ73,441
üë• Customer Segments:
   - High Value (>‚Çπ50K): 1804 customers (90.2%)
   - Medium Value (‚Çπ15K-50K): 102 customers (5.1%)
   - Low Value (<‚Çπ15K): 43 customers (2.1%)

üöÄ DATA GENERATION COMPLETE!
=======================================================
Ready for RetailMax V1-V2-V3 Crisis Analysis:
V1: Emergency churn analysis with customer segmentation
V2: Marketing ROI optimization and campaign intelligence
V3: Production web application deployment

Datasets reflect RetailMax business crisis context:
- Customer retention dropped from 72% to 55%
- Marketing ROI underperforming vs 3.8x industry benchmark
- E-commerce focus: Electronics, Fashion, Home & Living
- Indian market: Metro + Tier-2 cities